<!-- <form> -->

  <table style="width:80%">
    <tr>
      <th>
        <div class="form-group">
          <label for="settelment_name">Nazwa obciążenia</label>
          <input type="text" class="form-control" id="settelment_name_input" required>
        </div>
      </th>

      <th>
         <div class="form-group">
          <label for="settelment_amount">Kwota</label>
          <input type="number" class="form-control" id="settelment_amount_input">
        </div>
      </th>

      <th>
        <div class="form-group">
         <label for="settelment_date">Data</label>
         <input type="date" class="form-control" id="settelment_date_input">
       </div>
      </th>

      <th>
        <div class="form-group">
         <label for="settelment_intrest">Data</label>
         <input type="number" class="form-control" id="settelment_intrest_input">
       </div>
      </th>

      <th><button type="submit" class="btn btn-success" (click)="addEntry()">Dodaj</button></th>
      <th><button type="submit" class="btn btn-danger" (click)="removeEntry()">Usuń</button></th>
    </tr>


<!-- </form> -->
