<form [formGroup]="settlementItemForm">
  <div class="row">

    <div class="form-group col-md-2">
      <label for="settelmentName">Nazwa obciążenia</label>
      <select class="form-control" 
      formControlName="settelmentName">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>

    <div class="form-group col-md-2">
      <label for="settelmentAmount">Kwota</label>
      <input type="number" class="form-control" 
      formControlName="settelmentAmount">
    </div>

    <div class="form-group col-md-2">
      <label for="settelment_date">Data</label>
      <input type="date" class="form-control"
      formControlName="settelmentDate">
    </div>

    <div class="form-group col-md-2">
      <label for="settelmentBalance">Stan Płatności/Saldo</label>
      <input type="number" class="form-control" [value]="calculateBalance()" readonly>
    </div>

    <div class="form-group col-md-1">
      <br>
      <button type="submit" class="btn btn-danger" style="padding-bottom: 0px" (click)="removeEntry(entry.id)">Usuń</button>
    </div>

  </div>
  <p>Form status: {{ settlementItemForm.value | json }}</p>
</form>