<form [formGroup]="fastTextGroup" (keyup.enter)="submitFastText()">


  <div class="row" style="vertical-align: bottom">

    <div class="form-group col-md-10">

      <input type="text" class="form-control" formControlName="fastTextInputControl" placeholder="Wprowadź rozliczenie w szybkim formacie Typ Rozliczenia/kwota/data w formacie yyyy-mm-dd">

      <div class="descrption">
        <br>
        <p style="font-weight: bold">Typ Rozliczenia/kwota/data w formacie yyyy-mm-dd</p>
        <p>
          <span style="color:blue">Typ Rozliczenia skróty</span>
        </p>
        <p>
          <span style="color:blue">P - Płatność</span>
        </p>
        <p>
          <span style="color:blue">O - obciążenie</span>
        </p>
      </div>
    </div>
  </div>

</form>